/*版心*/
.w {
  margin: 0 auto;
  width: 1190px;
}
/*清除浮动*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
/*选中字体颜色*/
.font-current {
  color: #008de8;
}
/*更改轮播按钮点击样式*/
.glyphicon-chevron-left:before {
  content: '<' !important;
}
.glyphicon-chevron-right:before {
  content: '>' !important;
}
/*媒体查询*/
/*当屏幕大于1226时*/
@media (min-width: 1226px) {
  .w {
    width: 1190px;
    margin: 0 auto;
  }
  /*大屏幕显示及隐藏*/
  .max-hide {
    display: none!important;
  }
  .max-show {
    display: block!important;
  }
}
/*当屏幕在1081到1199时的效果*/
@media (min-width: 1080px) and (max-width: 1225px) {
  .w {
    width: 992px;
    margin: 0 auto;
  }
  /*大屏幕显示及隐藏*/
  .max-hide {
    display: none!important;
  }
  .max-show {
    display: block!important;
  }
}
/*其他屏幕的适配*/
@media only screen and (width: 320px) {
  html,
  body {
    font-size: 10.66666667px !important;
  }
}
@media only screen and (width: 360px) {
  html,
  body {
    font-size: 12px !important;
  }
}
@media only screen and (width: 375px) {
  html,
  body {
    font-size: 12.5px !important;
  }
}
@media only screen and (width: 400px) {
  html,
  body {
    font-size: 13.33333333px !important;
  }
}
@media only screen and (width: 414px) {
  html,
  body {
    font-size: 13.8px !important;
  }
}
@media only screen and (width: 411px) {
  html,
  body {
    font-size: 13.7px !important;
  }
}
@media only screen and (width: 435px) {
  html,
  body {
    font-size: 14.5px !important;
  }
}
