/*����*/
.w {
  margin: 0 auto;
  width: 1213px;
}
/*��������*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
/*ѡ��������ɫ*/
.font-current {
  color: #008de8;
}
