/*版心*/
.w{
  margin: 0 auto;
  width: 1213px;
}
/*清除浮动*/
.clearfix:after {
  content: "."; display: block; height:0; clear:both; visibility: hidden;
}
.clearfix {
  *zoom:1;
}
/*选中字体颜色*/
.font-current{
  color: #008de8;
}