/*头部开始*/
.header {
  border-bottom: 1px solid #eaeaea;
}
.header .header-w {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
.header .header-w .header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .header-w .header-left .logo {
  padding-right: 12px;
}
.header .header-w .header-left .logo img {
  width: 91px;
  height: 50px;
}
.header .header-w .header-left .line {
  width: 1px;
  height: 38px;
  background: #ededed;
}
.header .header-w .header-left .buyplace {
  padding-left: 10px;
}
.header .header-w .header-left .buyplace a {
  color: #008de8;
  font-size: 17px;
}
.header .header-w .header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .header-w .header-right .btn-login {
  width: 152px;
  height: 38px;
  background-color: #fff;
  color: #008de8;
  border: 1px solid #008de8;
  box-sizing: content-box;
  border-radius: 3%;
}
.header .header-w .header-right .btn-reg {
  width: 70px;
  height: 40px;
  background-color: #008de8;
  color: #fff;
  margin-left: 20px;
  border: 0px;
  border-radius: 3%;
}
/*头部结束*/
/*banner开始*/
.banner {
  /*轮播banner开始*/
  /*轮播banner结束*/
}
.banner .banner-list {
  background-color: #fff;
}
.banner .banner-list .banner-list-w {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .banner-list .banner-list-w ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
}
.banner .banner-list .banner-list-w ul li {
  margin-right: 38px;
}
.banner .banner-list .banner-list-w ul li a {
  display: block;
  width: 100%;
  height: 72px;
  line-height: 72px;
  box-sizing: border-box;
}
.banner .banner-list .banner-list-w ul li a:hover {
  border-bottom: 4px solid #008de8;
  transition: all 0.3s;
}
.banner .banner-list .banner-list-w .logo {
  margin-right: 38px;
  display: none;
}
.banner .banner-list .banner-list-w .logo img {
  width: 91px;
  height: 50px;
}
.banner .banner-list .banner-list-w .phoneNumber .number {
  display: flex;
  align-items: center;
}
.banner .banner-list .banner-list-w .phoneNumber .number span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url('../images/icon_phonecall_orange.png') no-repeat center;
  background-size: 100%;
  margin-right: 15px;
}
.banner .banner-list .banner-list-w .phoneNumber .number a {
  color: #ff5500;
}
.banner .banner-first {
  background: url("../images/banner_02.png") no-repeat center;
}
.banner .banner-first .banner-first-w {
  padding: 130px 0px 220px;
}
.banner .banner-first .banner-first-w .title {
  color: #fff;
}
.banner .banner-first .banner-first-w .title h3 {
  font-size: 60px;
  line-height: 90px;
  margin-bottom: 30px;
}
.banner .banner-first .banner-first-w .title p {
  font-size: 20px;
  line-height: 38px;
}
.banner .banner-second .banner-second-w {
  display: flex;
  justify-content: space-between;
  padding: 70px 0px;
}
.banner .banner-second .banner-second-w .pic {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 42px;
}
.banner .banner-second .banner-second-w .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 30px;
}
.banner .banner-second .banner-second-w .content .title {
  font-size: 34px;
  line-height: 51px;
}
.banner .banner-second .banner-second-w .content .describe {
  font-size: 16px;
  line-height: 24px;
}
.banner .banner-second .banner-second-w .content .describe input {
  width: 182px;
  height: 60px;
  box-sizing: border-box;
  background-color: #fff;
  color: #008de8;
  border: 1px solid #008de8;
  font-size: 20px;
}
.banner .banner-third {
  background: url("../images/banner_bg_2.png") no-repeat center;
  background-size: 100% 100%;
}
.banner .banner-third .banner-third-w {
  padding: 134px 0px 213px;
  display: flex;
}
.banner .banner-third .banner-third-w .content {
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner .banner-third .banner-third-w .content h3 {
  font-size: 34px;
  line-height: 51px;
}
.banner .banner-third .banner-third-w .content p {
  font-size: 16px;
  line-height: 21px;
}
.banner .banner-third .banner-third-w .content span a {
  color: #fff;
}
.banner .banner-third .banner-third-w .stance {
  flex: 2.5;
}
/*banner结束*/
/*主页面开始*/
.main {
  background-color: #f2f2f2;
}
.main .main-w {
  padding: 110px 0px 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .main-w .title {
  margin-bottom: 70px;
}
.main .main-w .title h3 {
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  margin: 0px;
}
.main .main-w .list {
  width: 100%;
}
.main .main-w .list ul {
  display: flex;
  justify-content: space-between;
}
.main .main-w .list ul li {
  height: 390px;
  width: 390px;
  background-color: #fff;
  flex: 39;
}
.main .main-w .list ul li .had {
  color: #fff;
  width: 100%;
  height: 110px;
  background-color: #1c9aeb;
  font-size: 24px;
  text-align: center;
  line-height: 110px;
}
.main .main-w .list ul li .fot {
  font-size: 16px;
  line-height: 24px;
  padding: 82px 57px 0px;
}
.main .main-w .list ul .zhanwei {
  flex: 2;
}
.lastFool .lastFool-w {
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lastFool .lastFool-w .title {
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  margin-bottom: 110px;
}
.lastFool .lastFool-w .content .img {
  display: flex;
  justify-content: space-around;
}
.lastFool .lastFool-w .content .img img {
  margin-right: 129px;
}
.lastFool .lastFool-w .content .img .text {
  margin-top: 42px;
}
.lastFool .lastFool-w .content .img .text span {
  color: #999;
}
.lastFool .lastFool-w .content .img .text h3 {
  font-size: 30px;
  line-height: 45px;
}
.lastFool .lastFool-w .content .img .text input {
  width: 182px;
  height: 60px;
  box-sizing: border-box;
  background-color: #fff;
  color: #008de8;
  border: 1px solid #008de8;
  font-size: 20px;
}
/*主页面结束*/
/*表单注册开始*/
.register {
  background-color: #eaeaea;
}
.register .register-w {
  display: flex;
  justify-content: space-between;
  padding: 70px 0px;
}
.register .register-w .register-left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.register .register-w .register-left .content .content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register .register-w .register-left .content .content-top .title {
  font-size: 30px;
  line-height: 45px;
}
.register .register-w .register-left .content .content-top p {
  color: #999;
}
.register .register-w .register-left .content .content-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  width: 100%;
}
.register .register-w .register-left .content .content-bottom ul {
  width: 100%;
}
.register .register-w .register-left .content .content-bottom ul li {
  width: 100%;
  position: relative;
}
.register .register-w .register-left .content .content-bottom ul li input {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding-left: 48px;
}
.register .register-w .register-left .content .content-bottom ul li .checkbox {
  padding: 12px 0px;
}
.register .register-w .register-left .content .content-bottom ul li .checkbox input {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 12px;
}
.register .register-w .register-left .content .content-bottom ul .company::before {
  display: block;
  content: '';
  position: absolute;
  z-index: 666;
  width: 26px;
  height: 23px;
  background: url("../images/comp_11.png") no-repeat center;
  top: 12px;
  left: 12px;
}
.register .register-w .register-left .content .content-bottom ul .name {
  margin-bottom: 30px;
}
.register .register-w .register-left .content .content-bottom ul .name::before {
  display: block;
  content: '';
  position: absolute;
  z-index: 666;
  width: 26px;
  height: 23px;
  background: url("../images/name_13.png") no-repeat center;
  top: 12px;
  left: 12px;
}
.register .register-w .register-left .content .content-bottom ul .tel {
  margin-bottom: 30px;
}
.register .register-w .register-left .content .content-bottom ul .tel::before {
  display: block;
  content: '';
  position: absolute;
  z-index: 666;
  width: 26px;
  height: 23px;
  background: url("../images/telephone_17.png") no-repeat center;
  top: 12px;
  left: 12px;
}
.register .register-w .register-left .content .content-bottom ul .eml {
  margin-bottom: 30px;
}
.register .register-w .register-left .content .content-bottom ul .eml::before {
  display: block;
  content: '';
  position: absolute;
  z-index: 666;
  width: 26px;
  height: 23px;
  background: url("../images/eml_18.png") no-repeat center;
  top: 12px;
  left: 12px;
}
.register .register-w .register-left .content .content-bottom .btn-sub input {
  height: 59px;
  box-sizing: border-box;
  padding: 0px 60px;
  background-color: #eaeaea;
  color: #008de8;
  border: 1px solid #008de8;
  font-size: 20px;
}
.register .register-w .register-right {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  margin-left: 20px;
}
.register .register-w .register-right .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register .register-w .register-right .content h3 {
  font-size: 30px;
  line-height: 45px;
}
.register .register-w .register-right .content p {
  color: #999;
  margin-bottom: 45px;
}
.register .register-w .register-right .content i {
  display: inline-block;
  margin-top: 25px;
  width: 80px;
  height: 82px;
  background: url("../images/icon-phone_02.png") no-repeat center;
  background-size: 100%;
}
.register .register-w .register-right .content .dianhua {
  font-size: 42px;
  color: #008de8;
  font-weight: 700;
  margin: 20px 0;
}
/*表单注册结束*/
/*footer开始*/
.footer {
  background-color: #282828;
}
.footer .footer-w .list {
  display: flex;
  justify-content: space-between;
  padding: 90px 147px 50px 280px;
  border-bottom: 1px solid #5f5f5f;
}
.footer .footer-w .list dt {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: normal;
}
.footer .footer-w .list dd {
  color: #5f5f5f;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 0px;
}
.footer .footer-last {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #5f5f5f;
  padding: 20px 0px;
}
/*footer结束*/
/*适配手机的媒体查询开始*/
@media (min-width: 769px) and (max-width: 1079px) {
  html {
    font-size: 25px!important;
  }
  /*版心更改*/
  .w {
    width: 750px;
    margin: 0 auto;
  }
  /*小屏幕显示及隐藏方法*/
  .min-show {
    display: block !important;
  }
  .min-hide {
    display: none !important;
  }
  /*头部开始*/
  .header .header-w {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
  }
  .header .header-w .min-left .logo img {
    width: 3.03333333rem;
    height: 1.66666667rem;
  }
  .header .header-w .min-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .header-w .min-right .header-call a {
    display: inline-block;
    width: 1.66666667rem;
    height: 1.66666667rem;
    background: url("../images/icon_phonecall.png") no-repeat center;
    background-size: 100%;
  }
  .header .header-w .min-right .line {
    width: 0.06666667rem;
    height: 1.46666667rem;
    background-color: #9f9f9f;
    margin: 0rem 1.03333333rem;
  }
  .header .header-w .min-right .header-menu {
    display: inline-block;
    width: 1.66666667rem;
    height: 1.66666667rem;
    background: url("../images/icon_list.png") no-repeat center;
    background-size: 100%;
  }
  /*头部结束*/
  /*banner部分开始*/
  .banner .banner-first {
    height: 18.16666667rem;
  }
  .banner .banner-first .banner-first-w {
    padding: 3rem 0rem;
  }
  .banner .banner-first .banner-first-w .title h3 {
    font-size: 1.13333333rem;
    line-height: 2.4rem;
    margin-bottom: 0.93333333rem;
  }
  .banner .banner-first .banner-first-w .title p {
    font-size: 0.53333333rem;
    line-height: 1.26666667rem;
  }
  .banner .banner-second .banner-second-w {
    display: flex;
    flex-direction: column-reverse;
    padding: 3rem 0rem;
  }
  .banner .banner-second .banner-second-w .content .title h3 {
    font-size: 1.13333333rem;
    line-height: 2.4rem;
    margin-bottom: 0.93333333rem;
  }
  .banner .banner-second .banner-second-w .content .describe p {
    font-size: 0.53333333rem;
    line-height: 1.26666667rem;
  }
  .banner .banner-second .banner-second-w .pic {
    justify-content: center;
  }
  .banner .banner-third .banner-third-w {
    padding: 3rem 0rem;
    display: flex;
  }
  .banner .banner-third .banner-third-w .content {
    flex: 1;
  }
  .banner .banner-third .banner-third-w .content h3 {
    font-size: 1.13333333rem;
    line-height: 2.4rem;
  }
  .banner .banner-third .banner-third-w .content p {
    line-height: 1.26666667rem;
    font-size: 0.53333333rem;
  }
  .banner .banner-third .banner-third-w .stance {
    flex: 1;
  }
  /*banner部分结束*/
  /*主页部分开始*/
  .main .main-w {
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem;
  }
  .main .main-w .title h3 {
    font-size: 1.13333333rem;
    line-height: 2.4rem;
  }
  .main .main-w .list ul {
    display: flex;
    flex-direction: column;
  }
  .main .main-w .list ul li {
    flex: 39;
    width: 100%;
    margin-bottom: 3rem;
  }
  .lastFool .lastFool-w {
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem;
  }
  .lastFool .lastFool-w .content .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lastFool .lastFool-w .content .img img {
    margin: 0rem;
  }
  .lastFool .lastFool-w .content .img .text span {
    font-size: 0.53333333rem;
  }
  .lastFool .lastFool-w .content .img .text h3 {
    font-size: 1.13333333rem;
  }
  .lastFool .lastFool-w .content .img .text input {
    font-size: 0.66666667rem;
  }
  .lastFool .lastFool-w .title {
    font-size: 1.13333333rem;
  }
  /*主页部分结束*/
  /*表单注册部分开始*/
  .register .register-w {
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem;
  }
  .register .register-w .register-left {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-bottom: 3rem;
  }
  .register .register-w .register-right {
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
  /*表单注册部分结束*/
  /*footer部分开始*/
  .min-footer {
    background-color: #5b5b5b;
  }
  .min-footer .footer-min-content {
    padding: 0.86666667rem 0rem;
  }
  .min-footer .footer-min-content p {
    color: #fff;
    font-size: 0.53333333rem;
    line-height: 1.2rem;
  }
  /*footer部分结束*/
}
@media (max-width: 768px) {
  /*给img标签设置宽度100%*/
  img {
    width: 100%;
  }
  /*设置rem值*/
  html {
    font-size: 25px!important;
  }
  /*版心更改*/
  .w {
    width: 81%;
    margin: 0 auto;
  }
  /*小屏幕显示及隐藏方法*/
  .min-show {
    display: block !important;
  }
  .min-hide {
    display: none !important;
  }
  /*头部开始*/
  .header .header-w {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
  }
  .header .header-w .min-left .logo img {
    width: 3.03333333rem;
    height: 1.66666667rem;
  }
  .header .header-w .min-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .header-w .min-right .header-call a {
    display: inline-block;
    width: 1.66666667rem;
    height: 1.66666667rem;
    background: url("../images/icon_phonecall.png") no-repeat center;
    background-size: 100%;
  }
  .header .header-w .min-right .line {
    width: 0.06666667rem;
    height: 1.46666667rem;
    background-color: #9f9f9f;
    margin: 0rem 1.03333333rem;
  }
  .header .header-w .min-right .header-menu {
    display: inline-block;
    width: 1.66666667rem;
    height: 1.66666667rem;
    background: url("../images/icon_list.png") no-repeat center;
    background-size: 100%;
  }
  /*头部结束*/
  /*banner部分开始*/
  .banner .banner-first {
    background-size: 100% 100%;
  }
  .banner .banner-first .banner-first-w {
    padding: 3rem 0rem;
  }
  .banner .banner-first .banner-first-w .title h3 {
    font-size: 1.13333333rem;
    line-height: 2.4rem;
    margin-bottom: 0.93333333rem;
  }
  .banner .banner-first .banner-first-w .title p {
    font-size: 0.53333333rem;
    line-height: 1.26666667rem;
  }
  .banner .banner-second .banner-second-w {
    display: flex;
    flex-direction: column-reverse;
    padding: 3rem 0rem;
  }
  .banner .banner-second .banner-second-w .content .title h3 {
    font-size: 1.13333333rem;
    line-height: 2.4rem;
    margin-bottom: 0.93333333rem;
  }
  .banner .banner-second .banner-second-w .content .describe p {
    font-size: 0.53333333rem;
    line-height: 1.26666667rem;
  }
  .banner .banner-second .banner-second-w .pic {
    justify-content: center;
  }
  .banner .banner-third .banner-third-w {
    padding: 3rem 0rem;
    display: flex;
  }
  .banner .banner-third .banner-third-w .content {
    flex: 1;
  }
  .banner .banner-third .banner-third-w .content h3 {
    font-size: 1.13333333rem;
    line-height: 2.4rem;
  }
  .banner .banner-third .banner-third-w .content p {
    line-height: 1.26666667rem;
    font-size: 0.53333333rem;
  }
  .banner .banner-third .banner-third-w .stance {
    flex: 1;
  }
  /*banner部分结束*/
  /*主页部分开始*/
  .main .main-w {
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem;
  }
  .main .main-w .title h3 {
    font-size: 1.13333333rem;
    line-height: 2.4rem;
  }
  .main .main-w .list ul {
    display: flex;
    flex-direction: column;
  }
  .main .main-w .list ul li {
    flex: 39;
    width: 100%;
    margin-bottom: 3rem;
  }
  .lastFool .lastFool-w {
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem;
  }
  .lastFool .lastFool-w .content .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lastFool .lastFool-w .content .img img {
    margin: 0rem;
  }
  .lastFool .lastFool-w .content .img .text span {
    font-size: 0.53333333rem;
  }
  .lastFool .lastFool-w .content .img .text h3 {
    font-size: 1.13333333rem;
  }
  .lastFool .lastFool-w .content .img .text input {
    font-size: 0.66666667rem;
  }
  .lastFool .lastFool-w .title {
    font-size: 1.13333333rem;
  }
  /*主页部分结束*/
  /*表单注册部分开始*/
  .register .register-w {
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem;
  }
  .register .register-w .register-left {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-bottom: 3rem;
  }
  .register .register-w .register-right {
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
  /*表单注册部分结束*/
  /*footer部分开始*/
  .min-footer {
    background-color: #5b5b5b;
  }
  .min-footer .footer-min-content {
    padding: 0.86666667rem 0rem;
  }
  .min-footer .footer-min-content p {
    color: #fff;
    font-size: 0.53333333rem;
    line-height: 1.2rem;
  }
  /*footer部分结束*/
}
